@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: #2a2a92;
    --color-background-secondary: #a41316;
    --color-background-tertiary: #af921a;
    --color-background-quaternary: #1b1b2f; /* Updated from duplicate */

    --color-foreground: #09090b;

    --color-card: #fafafa;
    --color-card-foreground: #09090b;

    --color-popover: #fafafa;
    --color-popover-foreground: #09090b;

    --color-primary: #09090b;
    --color-primary-foreground: #fafafa;

    --color-secondary: #fafafa;
    --color-secondary-foreground: #09090b;

    --color-muted: #fafafa;
    --color-muted-foreground: #09090b;

    --color-accent: #fafafa;
    --color-accent-foreground: #09090b;

    --color-destructive: #fafafa;
    --color-destructive-foreground: #09090b;

    --color-border: #e4e4e7;
    --color-input: #e4e4e7;
    --color-ring: #e4e4e7;

    --radius: 0.625rem;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border, currentColor);
    }

    body {
        @apply bg-background text-foreground;
    }
}

.dark {
    --background: var(--color-background-primary);
    --foreground: #09090b;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #e4e4e7;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
